.a90-100 {
  background: #2ecc71; }

.a85-90 {
  background: #27ae60; }

.a80-85 {
  background: #f39c12; }

.a75-80 {
  background: #e74c3c; }

.a70-75 {
  background: #c0392b; }

.a40-70 {
  background: #991f13; }

.a10-40 {
  background: #991f13; }

.a0-10 {
  background: #2c3e50; }

.a90-100, .a85-90, .a80-85, .a75-80, .a40-70, .a10-40, .a0-10 {
  transition-duration: 0.4s; }

.text-a90-100 {
  color: #2ecc71; }

.text-a85-90 {
  color: #27ae60; }

.text-a80-85 {
  color: #f39c12; }

.text-a75-80 {
  color: #e74c3c; }

.text-a70-75 {
  color: #c0392b; }

.text-a40-70 {
  color: #991f13; }

.text-a10-40 {
  color: #991f13; }

.text-a0-10 {
  color: #2c3e50; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 60px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
  #wrapper.toggled {
    padding-left: 0; }
  #sidebar-wrapper {
    width: 250px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  #page-content-wrapper {
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

/*COLOR VARIABLES*/
/*Dark Theme*/
/*Light Theme*/
/*Custom Theme*/
/*$body-bg : url(../img/graphy.png) repeat, rgba(200,0,0,0.6);*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'RobotoDraft'; }

.sub-text {
  color: #888787; }

.no-pm {
  margin: 0px !important;
  padding: 0px !important; }

.text-left {
  text-align: left; }

body {
  background: #d9d9d9 !important;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  background: red; }

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background: #deef5c;
  transition-duration: 0.2s; }

.card.login {
  padding-top: 40px; }
  .card.login #bunky-text {
    font-size: 40px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 800;
    color: #ffffff; }
  .card.login #ThisIsWhatWeDoBitch {
    font-family: "Patua One", cursive;
    font-size: 60px;
    padding-bottom: 10px;
    margin: 10px auto; }
  .card.login #bunky {
    margin: 0px auto;
    max-width: 160px;
    width: 100%; }
  .card.login .support-college {
    margin-top: 80px; }
    .card.login .support-college img {
      max-width: 160px;
      opacity: 0.7; }

section.one {
  padding-bottom: 40px; }

/*Home Styles*/
.home .home-card {
  max-width: 800px;
  position: relative;
  border-radius: 5px;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  margin: 20px auto;
  transform: translateY(-90px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  .home .home-card .user-panel {
    background: #e3e3e3;
    border-bottom: #d4d4d4 1px solid;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .home .home-card .user-panel h4#username {
      color: #434343; }
    .home .home-card .user-panel span,
    .home .home-card .user-panel #user {
      display: inline-block; }
    .home .home-card .user-panel span strong {
      color: #ffffff; }
    .home .home-card .user-panel #user {
      max-width: 100px;
      margin-right: 15px; }
    .home .home-card .user-panel .overall .row {
      padding: 20px 0px; }
      .home .home-card .user-panel .overall .row .adj {
        transform: translateY(20px); }
        .home .home-card .user-panel .overall .row .adj .col-xs-4:nth-child(1) {
          color: #1992c7 !important; }
        .home .home-card .user-panel .overall .row .adj .col-xs-4:nth-child(2) {
          color: #14b120 !important; }
        .home .home-card .user-panel .overall .row .adj .col-xs-4:nth-child(3) {
          color: #ba0a0a !important; }
  .home .home-card .tabs {
    padding: 0px;
    background: #e8e8e8;
    text-align: left;
    border-bottom: 1px solid #dedede; }
    .home .home-card .tabs span {
      display: inline-block;
      padding: 20px;
      cursor: pointer;
      width: auto;
      background: #e8e8e8;
      margin: 0px;
      color: #a2a2a2;
      font-weight: bold;
      transform: translateY(1px);
      border-top: 1px solid #dedede;
      border-right: 1px solid #dedede; }
      .home .home-card .tabs span:hover {
        background: #ededed; }
    .home .home-card .tabs span.active {
      background: #fcfcfc; }
  .home .home-card .tab {
    background: #fcfcfc;
    color: #434343;
    text-align: left !important; }
    .home .home-card .tab div {
      padding: 10px 20px;
      border-bottom: #e3e3e3 1px solid; }
      .home .home-card .tab div .app {
        max-width: 80px;
        border-radius: 5px;
        display: inline-block;
        background: #39d179;
        padding: 20px;
        margin-right: 30px; }
      .home .home-card .tab div #lele {
        width: 50px;
        display: inline-block; }
      .home .home-card .tab div select {
        display: inline-block;
        width: 80px; }
      .home .home-card .tab div #lostattendance,
      .home .home-card .tab div #classestoattend {
        font-weight: bold;
        color: #a01b1b; }
      .home .home-card .tab div #noBunkingBitch {
        color: #a01b1b;
        font-weight: bold; }
  .home .home-card .subjects,
  .home .home-card .bunk-graph {
    background: #fff;
    min-height: 400px; }
  .home .home-card .subjects {
    text-align: left; }
    .home .home-card .subjects div {
      padding: 10px 20px;
      border-bottom: #e3e3e3 1px solid; }
    .home .home-card .subjects p.perbox {
      width: 70px;
      height: 70px;
      display: inline-block;
      border-radius: 4px;
      line-height: 70px;
      color: white;
      font-size: 22px;
      text-align: center;
      background: #39d179;
      margin: 0px; }
    .home .home-card .subjects #subname {
      text-transform: capitalize;
      font-weight: bold;
      margin-left: 30px;
      color: #555555; }

.home #page-content-wrapper {
  border-top: 120px solid #2fc76f; }

.home .nv {
  font-size: 20px;
  transform: translateX(-15px);
  width: 50px;
  height: 25px;
  display: inline-block;
  color: #39d179; }

.home #sidebar-wrapper {
  background: #e8e8e8;
  background: #f2f2f2; }
  .home #sidebar-wrapper img#bunky-img {
    max-width: 60px;
    display: block;
    margin: 0px auto;
    padding-top: 20px; }

.home .sidebar-nav li.active > .fa {
  color: #53A8BB; }

.home .sidebar-nav li.active {
  background: #d9d9d9;
  color: #ffffff !important;
  font-weight: bold; }
  .home .sidebar-nav li.active:last-child {
    border: none; }

.home .sidebar-nav li:hover {
  background: #cacaca; }

.home .sidebar-brand {
  height: 120px;
  background: #39d179; }

.home .sidebar-nav li a {
  color: #a2a2a2;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase; }

.home #bunky {
  font-size: 25px;
  display: block;
  text-align: center;
  width: 100%;
  transform: translate(-8px, -20px);
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 800;
  color: #ffffff; }
