/*COLOR VARIABLES*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'RobotoDraft'; }

body {
  background: #eeeeee;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%; }

.card.login {
  padding-top: 140px; }
  .card.login h1 {
    font-size: 50px;
    padding-bottom: 50px; }

section.one {
  padding-bottom: 40px; }

section.two #bunky {
  margin: 0px auto;
  max-width: 500px;
  width: 100%; }

section.two .card {
  padding: 40px 20px 100px 20px;
  background: #fff;
  margin: 0px auto;
  transform: translateY(-75px);
  text-align: left;
  line-height: 30px;
  font-size: 18px; }
