.a90-100 {
  background: #2ecc71; }

.a85-90 {
  background: #27ae60; }

.a80-85 {
  background: #f39c12; }

.a75-80 {
  background: #e74c3c; }

.a70-75 {
  background: #c0392b; }

.a40-70 {
  background: #991f13; }

.a10-40 {
  background: #991f13; }

.a0-10 {
  background: #2c3e50; }

.a90-100, .a85-90, .a80-85, .a75-80, .a40-70, .a10-40, .a0-10 {
  transition-duration: 0.4s; }

.text-a90-100 {
  color: #2ecc71; }

.text-a85-90 {
  color: #27ae60; }

.text-a80-85 {
  color: #f39c12; }

.text-a75-80 {
  color: #e74c3c; }

.text-a70-75 {
  color: #c0392b; }

.text-a40-70 {
  color: #991f13; }

.text-a10-40 {
  color: #991f13; }

.text-a0-10 {
  color: #2c3e50; }

/*COLOR VARIABLES*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'RobotoDraft'; }

.text-left {
  text-align: left; }

body {
  background: #eeeeee;
  background: url(../img/graphy.png) repeat, rgba(200, 0, 0, 0.6);
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%; }

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background: #deef5c;
  transition-duration: 0.2s; }

.card.login {
  padding-top: 40px; }
  .card.login #bunky-text {
    font-size: 40px;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 800;
    color: #802C35; }
  .card.login #ThisIsWhatWeDoBitch {
    font-family: "Patua One", cursive;
    font-size: 60px;
    padding-bottom: 20px;
    max-width: 650px;
    margin: 30px auto; }
  .card.login #bunky {
    margin: 0px auto;
    max-width: 200px;
    width: 100%; }
  .card.login .support-college {
    margin-top: 80px; }
    .card.login .support-college img {
      max-width: 160px;
      opacity: 0.7; }

section.one {
  padding-bottom: 40px; }
