
.a90-100{
    background: #2ecc71;
}

.a85-90{
    background: #27ae60;
}

.a80-85{
    background: #f39c12
}

.a75-80{
    background: #e74c3c;
}

.a70-75{
    background: #c0392b;
}

.a40-70{
     background: #991f13;
}

.a10-40{
    background: #991f13;
}

.a0-10{
    background: #2c3e50;
}

.a90-100,.a85-90,.a80-85,.a75-80,.a40-70,.a10-40,.a0-10{
	transition-duration: 0.4s;
}
.text-a90-100{
     color :#2ecc71;
}

.text-a85-90{
     color :#27ae60;
}

.text-a80-85{
     color :#f39c12
}

.text-a75-80{
     color :#e74c3c;
}

.text-a70-75{
     color :#c0392b;
}

.text-a40-70{
      color :#991f13;
}

.text-a10-40{
    color :#991f13;
}

.text-a0-10{
     color :#2c3e50;
}