/*Coded Specially for Landing Page
Styles By : Raman Choudhary
*/

$bunky-bg : #39CBD1;
$bunky-font : 'Gloria Hallelujah',
cursive;
$hero-font : 'Patua One',
cursive;

$section-padding : 90px;
$developer-color : #5CB85C;

/*Screen Breakoints*/
$xs : 480px;
$sm : 767px;
$md : 979px;
$lg : 1200px;

@mixin desktop {
     @media (min-width: $lg) { 
        @content;
     }
}

@mixin laptop {
      /* Portrait tablet to landscape and desktop */
    @media (min-width: $sm) and (max-width: $lg) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $sm) {
        @content;
    }
}

@mixin phone {
    @media (max-width: $xs) {  
        @content; 

    }
}

body{
    background: #FFFFFF;
}

// Bootstrap Styles FIXES
.modal{
    
    .modal-dialog{
        margin: 100px auto;
        
        @include tablet{
            margin-top: 20px;
        }
        
    }
     
    .modal-content{
        border-radius: 0px;
        width: 500px;
        
        @include tablet{
            width: 90%;
            margin:  0px 20px;
        }
    
    .login-app{
        .header{
            padding: 70px;
            background: $bunky-bg;
            h1{
                font-size: 25px;
                color: #FFFFFF;
                font-family: $bunky-font;
                font-weight: bold;
            }
        }
        
        .xxx{
            padding: 0px;
            form{
                .form-group{
                    margin: 0px;
                    border-bottom: 1px dashed $bunky-bg; 
                    
                    i.fa{
                        width:  60px;
                        height: 60px;
                        padding: 10px;
                        font-size: 30px;
                        color: $bunky-bg;
                        text-align: center;
                        border-bottom: 0px;
                    }
                    
                    input[type='text'],
                    input[type='password']{
                        height: 60px;
                        border: 0px;
                        outline: 0px;
                    }
                }
                
                .notice{
                    padding: 20px;
                   
                    
                    span{
                        display: block;
                         font-size: 10px;
                         color: #555555;
                    }
                    
                    .tc{
                        padding: 20px;
                    }
                }
                
                button{
                    display: block;
                    padding: 20px;
                    width: 20px;
                    background: #45a345;
                    width: 100%;
                    border: 0px;
                    color: #FFF;
                    font-weight: bold;
                    font-size: 20px;
                }
                
            }
            
        }
    }
    }
    
}


header{
    background: $bunky-bg - 8;
    position: relative;
    border-bottom: 3px solid $bunky-bg - 20;
    height: auto;
    min-height: 60px;
    
    .xxx{
        position: relative;
    }
    
    .bunky-logo{
        max-width: 120px;
        display: inline-block;
    }
    
    .bunky-text{
        font-family: $bunky-font;
        font-size: 25px;
        color: #FFF;
        font-weight: bold;
        display: inline-block;
        position: relative;
        transform: translate(-30px,7px);
        
       
        
        @include tablet{
            display: none;
        }
        
    }
    
ul.nav{
        position: relative;
        top: 15px;
        text-align: right;
    
            li{
                background: $developer-color;
                margin-left: 10px;
                border-radius: 5px;
                
                @include tablet{
                    right: 0px;
                    display: block;
                }
               
                a{
                    color: #FFFFFF;
                    font-weight: bold;
                    &:hover {
                        background: $developer-color - 20;
                        border-bottom: 3px solid $developer-color - 50;
                    }
                    
                    &:focus{
                         background: $developer-color;
                    }
                    
                    &:active{
                        border: 0px;
                         background: $developer-color - 30;
                        top: 3px;
                    }
                }
            }
       
    }
}

.main{
    padding: $section-padding 0px;
    background: 
        url('../img/bg.jpg') no-repeat center center fixed
        $bunky-bg;
    background-position: top;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
    
    &:before{
        content: '';
        background: rgba($bunky-bg,0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 100%;
    }
    
    
    img{
        max-width: 320px;
        margin: 0px auto;
        width: 100%;
    }
    
    h1{
        font-weight: bold;
        font-family: $bunky-font;
        @include desktop{
            font-size: 50px;
            
        }
        
        @include tablet{
            margin-right: 20px;
            margin-left: 20px;
        }
    }
    h3{
        font-family: sans-serif;
        font-size: 20px;
        padding: 20px 0px;
        line-height: 30px;
        
         @include tablet{
            margin-right: 20px;
            margin-left: 20px;
        }
    }
    
    .pitch{
        padding: 40px 0px;
    }
    
    .let-me-know{
        max-width: 400px;
        
        input{
            padding: 13px;
            outline: none;
            border: 0px;
            display: inline-block;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            color: $bunky-bg - 40;
            font-weight: bold;
            
            @include laptop{
                width: 200px;
            }
            
            @include desktop{
                width: 250px;
            }
            
            @include phone{
                margin-left: 20px;
            }
            
            @include tablet{
                margin-left: 20px;
            }
            
        }
        
        button{
            border-radius: 0px;
            margin: 0px;
            transform: translateX(-5px);
            display: inline-block;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}

.features{
    padding: $section-padding 0px;
    
    .icon{
        width:  200px;
        height: 200px;
        margin: 30px auto;
        text-align: center;
        padding: 20px;
        font-size: 110px;
        color:$bunky-bg;
        border-radius: 50%;
        border: 3px solid $bunky-bg;
         color: white;
        text-shadow:
        -3px -3px 0 $bunky-bg - 40,
        3px -3px 0 $bunky-bg - 40,
        -3px 3px 0 $bunky-bg - 40,
        3px 3px 0 $bunky-bg - 40;
        transition-duration: 0.5s;
        
        &:hover{
            background: $bunky-bg;
            color: $bunky-bg;
             text-shadow:
        -3px -3px 0 #FFFFFF,
        3px -3px 0 #FFFFFF,
        -3px 3px 0 #FFFFFF,
        3px 3px 0 #FFFFFF;
        
        }
        }
    
    h1{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: $bunky-bg - 40;
    }
    
    h1.title{
        text-align: left;
        font-size: 30px;
        margin-bottom: 40px;
        font-family: $bunky-font;
    }
    
    p{
        max-width: 300px;
        margin: 30px auto;
        line-height: 26px;
    }
    
    h4{
       font-family: $bunky-font;
        text-align: center;
        color: $bunky-bg - 40;
        font-weight: bold;
    }
}

.developer{
    padding: $section-padding 0px;
    background: $bunky-bg + 10;
    color: #FFFFFF;
    
    h1.title{
        text-align: left;
        font-size: 30px;
        margin-bottom: 40px;
        font-family: $bunky-font;
        font-weight: bold;
        margin-left: 20px;
    }
    
    p{
        line-height: 27px;
        font-size: 16px;
    }
    
    .people{
        padding-top: 20px;
                        margin-top: 20px;
                padding: 20px;
       
        
        .col-sm-4{
            div.hhh{
                padding-top: 20px;
                margin-top: 20px;
                border-radius: 5px;
                overflow: hidden;
                transition-duration: 0.3s;
                border: 1px solid rgba(0,0,0,0.2);
                
                &:hover{
                    background: $bunky-bg + 30;
                }
                
                i.fa{
                    
                    font-size: 80px;
                    display: block;
                     text-shadow:
                    -1px -1px 0 #FFFFFF,
                    1px -1px 0 #FFFFFF,
                    -1px 1px 0 #FFFFFF,
                    1px 1px 0 #FFFFFF;
                    color:  $bunky-bg;
                    margin-bottom: 30px;
                    
                  
                }
                
                span{
                    margin: 20px auto;
                    font-weight: bold;
                }
                
                button{
                    display: block;
                    padding: 10px;
                    width: 100%;
                    background: $bunky-bg - 20;
                    font-weight: bold;
                    border: 0px;
                    margin-top: 10px;
                    outline: none;
                    
                    &:hover{
                          background: $bunky-bg - 40;
                    }
                }
                

            }
        }
    }
}

footer{
    padding: 15px 0px;
    background: $bunky-bg - 30;
    color: #FFF;
    font-weight: bold;
    
    img.heros{
        display: inline-block;
        height: 20px;
        width: auto;
        
    }
}






