@import 'sidemenu';

/*COLOR VARIABLES*/
$base-bg : #eaeaea;
$white : #FFFFFF;
$green : #39d179;
$test : #d46868;
$bunky-font : 'Gloria Hallelujah', cursive;
$hero-font : 'Patua One', cursive;
$bunky-text-color : #ffffff;
$userpanel-color: #FFFFFF;

$sidebar-color: #333645;
$overall-color : #ffffff;
$body-bg : #F6F6F6;
/*$body-bg : url(../img/graphy.png) repeat, rgba(200,0,0,0.6);*/


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'RobotoDraft';
}

.no-pm{
    margin: 0px !important;
    padding: 0px !important;
}

.text-left{
    text-align: left;
}

body{
    background: $body-bg;
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.blur{
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background: rgb(222, 239, 92);
    transition-duration: 0.2s;
}



.card.login{
        padding-top: 40px;
    
    #bunky-text{
        font-size: 40px;
        font-family: $bunky-font;
        font-weight: 800;
        color: $bunky-text-color;
    }
    
    #ThisIsWhatWeDoBitch{
        font-family: $hero-font;
          font-size: 60px;
            padding-bottom: 10px;
   
       
        margin: 10px auto;
    }
    
     #bunky{
        margin: 0px auto;
        max-width: 160px;
        width: 100%;
    }
    
    
    
    .support-college{
        margin-top: 80px;
            img{
                max-width: 160px;
                opacity: 0.7;
            }
        }
}

section.one{
    padding-bottom: 40px;
}

/*Home Styles*/

.home{
    
    .user-panel{
        background: $userpanel-color;
        border-bottom: 1px solid #F1F1F1;
        padding: 30px;
        
        span,#user{
            display: inline-block;
        }
        
        #user{
            max-width: 60px;
            margin-right: 15px;
        }
    }
    
    .bshifter{
        transform: translateY(10px);
    }
    
    .nv{
        font-size: 20px;
        transform: translateX(-15px);
        width: 50px;
        height: 25px;
        display: inline-block;
    }
    
    #sidebar-wrapper{
        background: $sidebar-color;
        
        #bunky{
        }
        
        img#bunky-img{
            max-width: 60px;
            display: block;
            margin: 0px auto;
            padding-top: 20px; 
        }
        
    }
    
    .sidebar-nav li.active > .fa{
        color: #53A8BB;
    }
    .sidebar-nav li.active {
        background: $sidebar-color - 10;
        color: #ffffff !important;
        font-weight: bold;
        
        &:hover{
            background:#1E202C;
        }
        
        &:last-child{
            border: none;
        }
    }
    
    
    .sidebar-brand{
        height: 120px;
        background: #A48AD4;
    }

    .sidebar-nav li a {
        color: #a2a2a2;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
    }

    
    .main{
        padding-top: 20px;
        max-width: 900px;
    }
    
    .panel{
        padding: 30px;
        margin-top: 20px;
        margin-left: 0px;
        border-radius: 5px;
        border: 1px solid #e3e3e3;
        border-bottom: 3px solid #e0dddd;
        min-height: 200px;
        background: rgba(255,255,255,0.5);
        
        .sub-text{
            color: #808080;
            line-height: 20px;
        }
        
        .lt{
            font-size: 50px;
            
            small{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
    
        .overall{
            padding: 40px;
            background: $overall-color;
            border-radius: 4px;
            position: relative;
            width: 100%;
            height: auto;
            border: 1px solid rgb(211, 40, 40);
            border-bottom: 10px solid rgb(211, 40, 40);
            
            .you-are-fucked{
                position: absolute;
                top: -20px;
                left: -10px;
                border-radius: 50%;
                width:  60px;
                height: 60px;
                font-size: 45px;
                color: rgb(211, 40, 40);
            }
            
            
            label{
                font-size: 16px;
                color: #727272;
            }
            
            #percentage{
                font-size: 50px;
                font-weight: 100;
                display: block;
                
            }
    }
    
    #bunky{
        font-size: 25px;
        display: block;
        text-align: center;
        width: 100%;
        transform: translate(-8px,-20px);
        font-family: $bunky-font;
        font-weight: 800;
        color: $bunky-text-color;
    }
    
}
