


<div ng-controller="HomeCtrl">
    
    <div id="wrapper" class="home">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav text-left">
                <li class="sidebar-brand">
                    <a href="#">
                       <img src="img/bunky.png" style="width: 50px; height: auto; display: inline-block;"><span id="bunky">Bunky</span>
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa nv fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="#"><i class="fa nv fa-line-chart"></i>Bunk Chart</a>
                </li>
                <li>
                    <a href="#"><i class="fa nv fa-question"></i>Can I Bunk?</a>
                </li>
                <li>
                    <a href="#"><i class="fa nv fa-calendar"></i>Plan a Holiday</a>
                </li>
                <li>
                    <a href="#"><i class="fa nv fa-heart-o"></i>Feedback</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid main text-left">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row overall">
                             <div class="col-md-6">
                            <label> Overall Attendance</label>
                          <span id="percentage">
                            78.43%
                          </span>
                          
                        </div>
                            
                            <div class="col-md-6"><div>
                                <div class="col-xs-4">Conducted
                                <h1>232</h1>
                                </div>
                                <div class="col-xs-4">Present
                                <h1>200</h1>
                                </div>
                                <div class="col-xs-4">Absent
                                <h1>32</h1>
                                </div>
                                
                                </div>
                                
                                
                            
                            </div>
                            
                        </div>
                        
                     
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
   
</div>
