<div class="join-us">
    <header>
        <h1>Let's change the damn education system.</h1>
    </header>
    <main>
        <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        <p>
            Donec scelerisque eu mauris a gravida. Vivamus a est enim. Nunc feugiat sem sed eleifend varius. Ut interdum nisi ac erat tincidunt, eget placerat lacus dapibus. Duis vestibulum ut mi nec vulputate. Cras congue, elit in rhoncus ultricies, tortor purus eleifend nisi, non varius ante tellus vel lorem. Vivamus sed fermentum nulla, tempor ullamcorper est.
        
        </p>
        <p>
            Aenean dolor ipsum, aliquet id nibh eu, sodales mattis dui. Aliquam erat volutpat. Etiam finibus mauris a orci suscipit malesuada. Sed dignissim ex tortor, ut auctor dui pellentesque sodales. Maecenas vel mi neque. Duis leo tellus, dapibus ut arcu id, varius ornare nisl. Quisque placerat velit ut metus posuere dignissim. Pellentesque pretium orci et nisi iaculis, at cursus ex tempor. Curabitur rutrum feugiat eleifend. Nulla dictum sapien sit amet pulvinar varius. Maecenas convallis dui tellus, non ornare erat facilisis sit amet. Nunc rutrum lectus id libero ultrices tristique. Duis rutrum, odio id viverra ultrices, enim eros mollis tortor, a maximus nunc sem vitae nibh. In id pellentesque magna.
        </p> 
    </main>
    
    <div class="andHereMySucks">
        <h1>
            #ButWhy Project
        </h1>
    </div>
    
    <main>
        <p>
            Aenean dolor ipsum, aliquet id nibh eu, sodales mattis dui. Aliquam erat volutpat. Etiam finibus mauris a orci suscipit malesuada. Sed dignissim ex tortor, ut auctor dui pellentesque sodales. Maecenas vel mi neque. Duis leo tellus, dapibus ut arcu id, varius ornare nisl. Quisque placerat velit ut metus posuere dignissim. Pellentesque pretium orci et nisi iaculis, at cursus ex tempor. Curabitur rutrum feugiat eleifend. Nulla dictum sapien sit amet pulvinar varius. Maecenas convallis dui tellus, non ornare erat facilisis sit amet. Nunc rutrum lectus id libero ultrices tristique. Duis rutrum, odio id viverra ultrices, enim eros mollis tortor, a maximus nunc sem vitae nibh. In id pellentesque magna.
        </p> 
    </main>
  
</div>