<div ng-controller="SubjectCtrl" class="SubjectCtrl">
    <div class="overall clearfix">
    <div class="col-sm-6 text-center">
        <h4>{{d.name}}</h4>
        <h1 id="percentage" ng-class="{'text-a90-100':d.percentage <=100 && d.percentage >90, 'text-a85-90': d.percentage <= 90 && d.percentage > 85,'text-a80-85' :d.percentage <= 85 && d.percentage > 80, 'text-a75-80' : d.percentage <= 80 && d.percentage > 75, 'text-a70-75': d.percentage <= 75 && d.percentage > 70, 'text-a40-70': d.percentage <= 70 && d.percentage > 40, 'text-a10-40': d.percentage <= 40 && d.percentage > 10, 'text-a0-10': d.percentage <= 10 && d.percentage > 0}">{{d.percentage}}<span>%</span></h1>
    </div>
    <div class="col-sm-6 attendance-details">
        <div class="row">
            <div class="col-xs-4">
                <span class="text-info">Conducted</span>
                <h1 class="text-info">{{d.conducted}}</h1>
            
            </div>
            <div class="col-xs-4">
                <span class="text-success">Present</span>
                <h1 class="text-success">{{d.present}}</h1>
            
            </div>
            <div class="col-xs-4">
                <span class="text-red">Absent</span>
                <h1 class="text-red">{{d.absent}}</h1>
            </div>
        </div>
    </div>
</div>
  <!--Bunk Chart-->    
<div class="bunk-chart" >
   <div class="header" ng-click="toggle()">
       <span>Bunk Chart</span>
       <span class="pull pull-right">
        <i class="fa fa-arrow-down text-info"></i>
       </span>
    </div>
    
      <div class="dropdown animate" ng-show="dropdown">
          
          <!--NgRepeat Block-->
          <div ng-repeat="(key,value) in d.attendance.bunked" class="day clearfix">
              
              {{value}}
            <div class="col-xs-3 ">
              <div class="name-truncate">
                <strong>{{key}}</strong>
                </div>
              </div>
            <div class="col-xs-9">
                <div class="bunky-holder">
                <!--Bunk Block Repeat-->
                    <span id="bunky" ng-repeat="bunky in value track by $index"><span class="fullday">Full Day Bunked!</span>
                    
                    </span>
                    
                </div>  
            </div>asdad
          </div>
      </div>
</div>
</div>